@font-face {
	font-family: 'Prompt';
	src: url('../fonts/prompt-regular-webfont.eot');
	src: url('../fonts/prompt-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/prompt-regular-webfont.woff2') format('woff2'),
		 url('../fonts/prompt-regular-webfont.woff') format('woff'),
		 url('../fonts/prompt-regular-webfont.ttf') format('truetype'),
		 url('../fonts/prompt-regular-webfont.svg#promptregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
